.hide{
    display: none;
}

.pswd{
    position: relative;
}

.pswd a i{
    position: absolute;
    top: 23px;
    right: 15px;
    color: black;
    /* font-size: 14px; */
    text-decoration: none;
    /* letter-spacing: -1px; */
}